body {
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #fafafa;
  
}



#main-box {
background-color: #cccccc;
padding: 15px;
margin: 20px;
}

#our-menu {
  color: #000;
  text-align: center;
   margin-top: auto;
  
}
/** HEADER **/
#header-nav {
  background-color: #2cb8fee8;
  border-radius: 0;
  border: 0;
  }


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* name */
  color: #000;
  font-family: 'Lora', serif;
   font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
   margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #9fd116;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #000000;
  border: 2px solid #000000;
}

/*********** large devices ***/
@media (min-width: 1200px)
{
  #header-nav {
    background-color: #2cb8fee8;
    border-radius: 0;
    border: 0;
    padding-bottom:20px ;
  } 
}

  
/********* medium devices *******/
@media (min-width:992px )and  (max-width: 1199px)
{
  #header-nav {
    background-color: #2cb8fee8;
    border-radius: 0;
    border: 0;
    padding-bottom:20px ;
  }
}

/********* small devices *******/
@media (min-width:768px )and  (max-width: 991px)
{


}
/********* extra small devices *******/
@media (max-width: 767px)
{
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #000;
    color: #000;
  }

  
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) 
{

.navbar-brand h1 { /* Restaurant name */
  padding-top: 5px;
  font-size: 6vw;
}

}



